@font-face {
    font-family: "Open Sans OpenSans-Bold";
    src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
}
@font-face {
    font-family: "Open Sans OpenSans-Regular";
    src: url("fonts/Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
    font-family: "Open Sans OpenSans-Italic";
    src: url("fonts/Open_Sans/OpenSans-Italic.ttf");
}
@font-face {
    font-family: "Open Sans OpenSans-Light";
    src: url("fonts/Open_Sans/OpenSans-Light.ttf");
}
@font-face {
    font-family: "Open Sans OpenSansCondensed-Bold";
    src: url("fonts/Open_Sans_Condensed/OpenSansCondensed-Bold.ttf");
}
@font-face {
    font-family: "Open Sans OpenSansCondensed-Light";
    src: url("fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
}
body{ font-family: 'Open Sans OpenSans-Regular'; }
h2{ font-family: 'Open Sans OpenSans-Italic'; font-weight: bold; }
p{ font-family: 'Open Sans OpenSans-Light'; }
/* Open Sans OpenSans-Bold
Open Sans OpenSans-Regular
Open Sans OpenSans-Italic
Open Sans OpenSansCondensed-Bold
Open Sans OpenSans-Light
Open Sans OpenSansCondensed-Light */
.backnav{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0.31)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0.31) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}
/* color */
.cwhite{ color: #ffffff !important; }
.navbar-toggler { border: 1px solid #ffffff; }
/* background */
.bg-blue{ background-color: #1e6293; }
.bg-footer{ background-color: #f0f0f0; }
/* fontsize */
.fs-12{font-size: 12px;}
.fs-46{font-size: 46px;}
.fs-20{font-size: 20px;}

/* css personalice */
.btn-primary { background-color: #1e6293;}

.dropdown-menu { right: 0; left: auto;}
.btn-menu { border: 1px solid #1e6293; color: #1e6293 !important; background-color: #ffffff; }
.br-5px{ border-radius: 5px; }
.w-login{ width: 265px; }

.banner{
    background-image: url('../images/banner.png');
    height: 480px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-origin: border-box;
}
.text-banner{ padding-top: 250px; line-height: 50px; font-family: 'Open Sans OpenSans-Bold'; }
.social{ border-radius: 45px; border: 1px solid; padding: 11px; width: 43px; text-align: center; font-size: 15px;}

.tabsdemoDynamicHeight md-content h1:first-child { margin-top: 0; }
.separator{ border-right: 1px solid #fff; }
md-tabs-wrapper{ padding: 0 100px; }
md-tabs .md-tab.md-active{
    background-color: #f6f6f6;
    color: #727272;
}
md-tabs md-ink-bar{
    color: transparent;
    background: transparent;
}
md-tabs md-tabs-wrapper {
    background-color: white;
    border-color: rgba(0,0,0,0.12);
}
md-content {
    color: rgba(0,0,0,0.87);
    background-color: rgb(246, 246, 246);
}
@media( max-width: 850px ){
    md-tabs-wrapper { padding: 0; }
}
@media( max-width: 700px ){
    .fs-46 { font-size: 35px; }
    .banner{ height: 440px; }
}
@media( max-width: 440px ){
    .fs-46 { font-size: 25px; }
    .text-banner { line-height: 30px; }
}