<div class="row p-4 bg-footer fs-12">
    <div class="col-12 col-md-6">

    </div>
    <div class="col-12 col-md-6 text-right">
        Protección de Datos Personales | Términos, Condiciones | Copyright &#169; Colfondos 2017
    </div>
</div>