<nav class="navbar navbar-expand-md backnav">
    <img src="images/logo.png" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fas fa-bars cwhite"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav m-auto">
            <li class="nav-item cwhite mx-2">
                <a class="nav-link">Personas</a>
            </li>
            <li class="nav-item cwhite mx-2">
                <a class="nav-link">Empresas</a>
            </li>
            <li class="nav-item cwhite mx-2">
                <a class="nav-link">Productos y servicios</a>
            </li>
            <li class="nav-item cwhite mx-2">
                <a class="nav-link">Aprende</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav m-auto w-100">
                <li class="nav-item dropdown">
                    <a class="nav-link bg-blue cwhite px-4 br-5px" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu px-4 w-login" aria-labelledby="dropdownMenuButton">
                        <div class="row">
                            <div class="col-12">
                                Zona transaccional
                            </div>
                            <div class="col-12">
                                <button class="bg-blue cwhite mb-2 br-5px border-0 p-2 mt-2 w-100"> Ingreso zona transaccional </button>
                            </div>
                            <div class="col-12">
                                <button class="cwhite btn-menu br-5px p-2 w-100"> Solicitud de usuario y clave </button>
                            </div>
                            <a class="dropdown-item text-center fs-12 text-danger mt-2" href="#">Olvide mi clave</a>
                        </div>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <!-- <div class="dropdown ">
        <button class="btn bg-blue cwhite px-4" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
        </button>
        
    </div> -->
</nav>