<div class="row">
    <div class="col-12 banner cwhite fs-46 text-center font-weight-bold text-banner">
        <span> Lorem ipsum dolor sit amet,<br> consectetur adipiscing. </span>
    </div>
</div>
<div class="row bg-blue">
    <div class="col-12">
        <ul class="nav">
            <li class="nav-item" ng-repeat="n in nav">
                <a class="nav-link cwhite" href="#">{{n}}<span class="cwhite ml-4">/</span></a>
            </li>
            <!-- <li class="nav-item pt-2">
                <a class="cwhite">/</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cwhite" href="#">Nivel 2 </a>
            </li>
            <li class="nav-item pt-2">
                <a class="cwhite">/</a>
            </li>
            <li class="nav-item">
                <a class="nav-link cwhite" href="#">Nivel 3 </a>
            </li> -->
        </ul>
    </div>
</div>
<div class="row mb-4">
    <div class="col-12">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Pensión para trabajadores independientes">
                        <md-content class="md-padding">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <img src="./images/img1.png" class="img-fluid" alt="">
                                </div>
                                <div class="col-12 col-md-8">
                                    <h2 class="">{{contentOne.title}}</h1>
                                    <p>{{contentOne.content1}}</p>
                                    <p>{{contentOne.content2}}</p>
                                    <p>{{contentOne.content3}}</p>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="Beneficios">
                        <md-content class="md-padding">
                            <div class="row w-100">
                                <div class="col-12">
                                    <h1 class="md-display-2"></h1>
                                    <p>
                                        Ponemos a tu disposición un Club de Beneficios que te brinda descuentos y privilegios en diferentes categorías: vivienda, educación, vehículos, salud y bienestar, viajes y entretenimiento, restaurantes, mujeres, servicios, hogar y compras, preferentes.
                                    </p>
                                    <p>
                                        ¿Cómo acceder a los beneficios? Sencillo, presentando tu número de cédula en el establecimiento comercial al momento de realizar la compra. También puedes descargar el cupón en nuestra página web, imprimirlo y listo, canjearlo por el beneficio.
                                        Consulta nuestras alianzas.
                                    </p>
                                </div>
                            </div>
                            <div class="row justify-content-around w-100">
                                <div class="col-12 col-md-4" ng-repeat="beneficio in beneficios">
                                    <div class="card">
                                        <img ng-if="beneficio.image != 'beneficios-club-colfondos-editada'" src="./images/{{beneficio.image}}.png" class="card-img-top" alt="...">
                                        <div ng-if="beneficio.image == 'beneficios-club-colfondos-editada'" style="background-image: url('./images/{{beneficio.image}}.jpg'); 
                                        height: 123px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: cover;"  class="card-img-top"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{beneficio.title}}</h5>
                                            <p class="card-text">{{beneficio.text}}</p>
                                            <a href="#" class="btn btn-primary">{{beneficioboton}}</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-12 col-md-4">
                                    <div class="card">
                                        <div style="background-image: url('./images/{{beneficio.image}}.jpg'); 
                                        height: 123px;
                                        background-repeat: no-repeat;
                                        background-position: center;
                                        background-size: cover;"  class="card-img-top"></div>
                                        <div class="card-body">
                                            <h5 class="card-title">Beneficios del Mes</h5>
                                            <p class="card-text">Encuentra aquí los privilegios que tienes por pertenecer a Colfondos.</p>
                                            <a href="#" class="btn btn-primary">Conoce más</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="card">
                                        <img src="./images/Empresa.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">Alianzas para empresas</h5>
                                            <p class="card-text">Descubre aquí los beneficios que tienes para tu empresa.</p>
                                            <a href="#" class="btn btn-primary">Conoce más</a>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="¿Qué hacer para afiliarse?">
                        <md-content class="md-padding">
                            <h2>
                                Formato de afiliación y/o traslado
                            </h2>
                            <p>
                                A través de este formulario podrás afiliarte al Fondo de Pensiones Voluntarias de Colfondos y comenzar a trabajar en el logro de tus objetivos. Conoce aquí los documentos que debes adjuntar al mismo.
                            </p>
                            <p>
                                Una vez tu solicitud ha sido aprobada y tienes una cuenta de pensión voluntaria a tu nombre, puedes comenzar a realizar aportes. Haz clic aquí para conocer cómo se realizan los aportes.
                            </p>
                        </md-content>
                    </md-tab>
                    <md-tab label="¿Cómo realizar mis aportes como independiente?">
                        <md-content class="md-padding">
                            <p>Al realizar el pago de tus aportes debes tener en cuenta la siguiente información:</p>
                            <div> 
                                <ol> 
                                    <li> 
                                        <p>Solo se reciben pesos colombianos.</p> 
                                    </li> 
                                    <li> 
                                        <p>Los medios disponibles para realizar el pago son:</p> 
                                        <ul> 
                                            <li> 
                                                <p>Aportes en línea PSE.</p> 
                                            </li> 
                                            <li> 
                                                <p>Descuento de nómina (con tu previa autorización e instrucción a tu empleador).</p> 
                                            </li> 
                                            <li> 
                                                <p>A través de nuestra red de pagos.</p> 
                                            </li> 
                                        </ul> 
                                    </li> 
                                    <li> 
                                        <p>Hay dos clases de aportes; recuerda que al momento de la afiliación 
                                            debes elegir entre uno de los siguientes:
                                        </p> 
                                        <ul> 
                                            <li> 
                                                <p><strong>Permanentes:</strong> aportes periódicos que pueden ser 
                                                    quincenales, mensuales, bimensuales, trimestrales o semestrales.
                                                </p> 
                                            </li> 
                                            <li> 
                                                <p><strong>Únicos:</strong> realizas el aporte una sola vez. El valor 
                                                    de este aporte lo determinas tú.
                                                </p> 
                                            </li> 
                                        </ul> 
                                    </li> 
                                </ol> 
                            </div>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
<div class="row justify-content-around py-4">
    <div class="col-12 col-md-3 offset-md-1 fs-12">
        <span class="font-weight-bold fs-20"> Contáctanos </span> <br>
        Escríbenos aquí
    </div>
    <div class="col-12 col-md-3 fs-12 mt-3 mt-md-0">
        <span class="font-weight-bold fs-20"> Radica tus inquietudes </span> <br>
        Escríbenos aquí
    </div>
    <div class="col-12 col-md-4 fs-12 mt-3 mt-md-0">
        <span class="font-weight-bold fs-20"> Encuéntranos en: </span> <span ng-repeat="social in socialNet" class="px-2"><i class="{{social.image}} fs-20 social"></i></span>
    </div>
</div>
<div class="row bg-blue justify-content-around">
    <div class="col-12 col-md-3 cwhite separator p-3 text-md-center">
        Institucional
    </div>
    <div class="col-12 col-md-3 cwhite separator p-3 text-md-center">
        Defensor del consumidor
    </div>
    <div class="col-12 col-md-3 cwhite separator p-3 text-md-center">
        Legal
    </div>
    <div class="col-12 col-md-3 cwhite p-3 text-md-center">
        Seguridad
    </div>
</div>